<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>나의 소박한 금융이야기</title>
  <link rel="stylesheet" href="/css/nickname.css">
</head>
<body>
  <div class="container">
    <img src="/img/start_back.png" alt="첫 시작">
  </div>

  <form action="/write_done" method="post">
  <div class="nickname-box">
    <input type="text" placeholder="닉네임을 입력하세요" name="nickname">
  </div>

  <div class="start-btn">
    <a>
    <img src="/img/startbtn.png" alt="시작 버튼">
    </a>
  </div>
  </form>

</body>
</html>