<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>나의 소박한 금융이야기</title>
  <link rel="stylesheet" th:href="@{/css/username.css}">
</head>
<body>
<div class="container">
  <img src="/img/background_gray.png" alt="첫 시작">
  <a href="/" class="back-button">
    <img src="/img/back_arrow.png" alt="뒤로가기"> <!-- 뒤로가기 화살표 이미지 -->
  </a>
</div>

<form action="/loginSuccess" method="post" th:object="${memberDTO}">
  <div class="username-box">
    <p>잠깐, 당신의 이름은 무엇인가요?</p>
    <input type="text"
           placeholder="닉네임을 입력하세요"
           name="username"
           required
           th:classappend="${error} ? 'input-error'">
    <p class="hint">중복 불가, 20자 이내</p>
  </div>

  <!-- 유효성 검사 -->
  <div th:if="${#fields.hasErrors('username')}">
    <p th:errors="*{username}"></p>
  </div>
  <!-- 사용자 중복 에러 메시지 -->
  <div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
  </div>

  <div class="start-btn">
    <button type="submit">
      <img src="/img/startbtn.png" alt="다음으로"> <!-- 다음으로 버튼 이미지 -->
    </button>
  </div>
</form>

</body>
</html>
